.Searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 55%;
  padding-bottom: 10px;
}

.ActiveSearchbar {
  border-bottom: solid 0.7px black;
  width: 60%;
}

.SearchInput {
  border: none;
  transition: width 0.5s;
  height: 30px;
  font-size: 14px;
  border: none;
  margin-left: 0;
  opacity: 0;
  width: 80%;
  font-size: 16px;
  display: none;
}

.SearchInput:focus,
.SearchInput:active,
.ActiveSearchInput {
  margin-left: 10px;
  padding: 0 10px;
  opacity: 1;
  outline: none;
  width: 100%;
  display: block;
}

.SearchIcon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: 30px;
}

.SearchIcon:focus,
.SearchIcon:active {
  outline: none;
}

.SearchIcon i {
  color: black;
  width: 16px;
}
