.ProductList {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  height: auto;
}

.ProductList li {
  list-style: none;
  margin: 5px 10px;
}

.ProductList li {
  list-style: none;
  margin: 5px 10px;
}
