.HomeScreen {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2%;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  height: auto;
  padding: 0 10%;
}

.HomeScreen aside,
.HomeScreen main {
  text-align: center;
}

.HomeScreen aside {
  grid-area: sidebar;
}

.HomeScreen main {
  grid-area: main;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
