.DropMenu{
    align-items: flex-start;
    font-family: opensans,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    text-transform:capitalize;
}

.Heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 10px;
    color:#05111d;
}  